<div class="container">
  <mat-form-field>
    <input matInput [(ngModel)]="num1" type="number" placeholder="Numero1">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="num2" type="number" placeholder="Numero2">
  </mat-form-field>
  <mat-radio-group name="opciones" [(ngModel)]="operacionSeleccionada">
    <mat-radio-button *ngFor="let op of tipoOperaciones" [value]="op" style="margin: 10px;"  >
      {{op}}
    </mat-radio-button>
  </mat-radio-group>
  <button  mat-raised-button (click)="calcular()" color="primaty">Calcular</button>
  <h1><p>El resultado es:{{resultado}}</p></h1>
</div>