<h1>Registro de Alumnos</h1>
<div class="row">
    <div class="col-6">
        <form (ngSubmit)="onSubmit()" [formGroup]="alumnoForm">
            <div class="mb-4">
                <label for="matricula" class="form-label">Matricula</label>
                <input type="text" id="matricula" required formControlName="matricula" name="matricula"
                    class="form-control">
                <div *ngIf="alumnoForm.get('matricula')?.touched &&
                alumnoForm.get('matricula')?.errors?.['required']" class="alert alert-danger">
                    Este campo es requerido
                </div>
                <!--XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->
                <div *ngIf="alumnoForm.get('matricula')?.touched &&
                alumnoForm.get('matricula')?.errors?.['required']" class="alert alert-danger">
                    La matricula debe ser mas largo que
                    {{alumnoForm.get('matricula')?.errors?.['minlength']?.requiredLength}} caracteres
                </div>
            </div>
            <div class="mb-4">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" id="nombre" required formControlName="nombre" name="nombre" class="form-control">
                <div *ngIf="alumnoForm.get('nombre')?.touched &&
                alumnoForm.get('nombre')?.errors?.['required']" class="alert alert-danger">
                    Este campo es requerido
                </div>
                <!--XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->
                <div *ngIf="alumnoForm.get('nombre')?.touched &&
                alumnoForm.get('nombre')?.errors?.['required']" class="alert alert-danger">
                    La nombre debe ser mas largo que
                    {{alumnoForm.get('nombre')?.errors?.['minlength']?.requiredLength}} caracteres
                </div>
            </div>
            <div class="mb-4">
                <label for="edad" class="form-label">Edad</label>
                <input type="text" id="edad" required formControlName="edad" name="edad" class="form-control">
                <div *ngIf="alumnoForm.get('edad')?.touched &&
                alumnoForm.get('edad')?.errors?.['required']" class="alert alert-danger">
                    Este campo es requerido
                </div>
                <!--XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->
                <div *ngIf="alumnoForm.get('edad')?.touched &&
                alumnoForm.get('edad')?.errors?.['required']" class="alert alert-danger">
                    La edad debe ser mas largo que
                    {{alumnoForm.get('edad')?.errors?.['minlength']?.requiredLength}} caracteres
                </div>
            </div>
            <div class="mb-4">
                <label for="correo" class="form-label">Correo</label>
                <input type="text" id="correo" required formControlName="correo" name="correo" class="form-control">
                <div *ngIf="alumnoForm.get('correo')?.touched &&
                alumnoForm.get('correo')?.errors?.['required']" class="alert alert-danger">
                    Este campo es requerido
                </div>
                <!--XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->
                <div *ngIf="alumnoForm.get('correo')?.touched &&
                alumnoForm.get('correo')?.errors?.['required']" class="alert alert-danger">
                    La correo debe ser mas largo que
                    {{alumnoForm.get('correo')?.errors?.['minlength']?.requiredLength}} caracteres
                </div>
            </div>


            <div class="mb-4">
                <label for="foto" class="form-label">Foto</label>
                <input type="text" id="foto" required formControlName="Foto" name="foto" class="form-control">
            </div>


            <div class="mb-4">
                <label for="calif" class="form-label">Calificacion</label>
                <input type="text" id="calif" required formControlName="calif" name="calif" class="form-control">
                <div *ngIf="alumnoForm.get('calif')?.touched &&
                alumnoForm.get('calif')?.errors?.['required']" class="alert alert-danger">
                    Este campo es requerido
                </div>
                <!--XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->
                <div *ngIf="alumnoForm.get('calif')?.touched &&
                alumnoForm.get('calif')?.errors?.['required']" class="alert alert-danger">
                    La calif debe ser mas largo que
                    {{alumnoForm.get('calif')?.errors?.['minlength']?.requiredLength}} caracteres
                </div>
            </div>
            <div class="d-grid gap-2 col-4 float-end">
                <button class="btn btn-info btn-lg" type="submit">Guardar</button>
            </div>

        </form>
    </div>
    <div class="col-6">
        <h1>Registros</h1>
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tbody>
    </div>
</div>